

<div class="btn-group" role="group" aria-label="...">
  <%= link_to "Home", root_path, class:"btn btn-warning" %>
  <%= link_to Company, companies_path, class:"btn btn-default" %>
  <%= link_to Technology, technologies_path, class:"btn btn-default"  %>
</div>


